* {
font-family: "JetBrainsMono Nerd Font";
font-size: 14;
}

window {
all: unset;
margin: 0px;
border: 2px solid #c0caf5;
border-radius: 10px;
background-color: rgba(26, 27, 38, 0.8);
}

#input {
margin: 5px;
border: none;
color: #c0caf5;
background-color: rgba(26, 27, 38, 0.1);
}

#input > * {
color: #c0caf5;
border: none;
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(26, 27, 38, 0);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(26, 27, 38, 0);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry.activatable #text {
color: #c0caf5;
}

#entry > * {
color: #c0caf5;
}

#entry:selected {
border-radius: 4px;
background-color: #b4f9f8;
}

#entry:selected #text {
font-weight: bold;
color: #1a1b26;
}
