* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 70;
    font-weight: bold;

}

window {
    all: unset;
    margin: 0px;
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
}

#outer-box {
    margin: 20px;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#text:selected {
    margin: 5px;
    border: none;
    color: #1a1b26;
} 

#entry {
    padding: 50px;
    padding-right: 80px;
    padding-left: 80px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(26, 27, 38, 0.8);
    border: 2px solid #c0caf5;
}

#entry:selected {
    background-color: #b4f9f8;
    border: none;
}
